@import "tailwindcss";

:root {
  --color-background: #fff8f3;
  --color-primary: #c8a96a;
  --color-secondary: #8b5e3c;
  --color-text: #2d2d2d;
  --color-white: #ffffff;

  font-family: "Poppins", sans-serif;
  color: var(--color-text);
  background: var(--color-background);

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body{
    font-family: 'Inter', sans-serif;
}
html {
  scroll-behavior: smooth;
}